<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div style="margin-top: 15px;"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div style="margin-top: 15px;"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div style="margin-top: 35px;"><%= f.submit "Sign up", class: "btn btn-primary btn-lg" %></div>
<% end %>

